
body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}
.navbar{
  margin: 0;
  width: 100%;
  height: 20px;
}
.nav-ul{
  margin: 0;
  padding: 10px;
  list-style: none;
}
li{
  float: left;
  padding: 10px;
  font-weight: 600;
  margin-right: 30px;
  cursor: pointer;
  padding-bottom: 24px;
}

.active, li:hover{
  color: #ff0073;
  border-bottom: 4px solid #ff0073;
}
.brand-h{
  margin-left: 0;
  font-size: 26px;
  margin-right: 270px;
}
a{
  text-decoration: none;
  color: #000;
  font-weight: 900;
}
.brand{
  padding-right: 0px;
  margin-right: 0;
  margin-left: 50px;
}
.brand img{
  height: 33px;
}
.brand:hover{
  border-bottom: 0;
}
.brand-h:hover{
  border-bottom: 0;
}
.main{
  margin-top: 45px;
  width: 100%;
  height: 93vh;
  border-radius: 30px;
  background: linear-gradient(-90deg, #fce7f6 0%, #e3eaf8 100%);
}
.main-l{
  width: 36%;
  margin-left: 80px;
  padding-top: 70px;
}
.hd{
  font-size: 53px;
  color: #333;
}
.hd2{
  font-size: 64px;
  font-weight: 900;
  margin-top: -55px;
  letter-spacing: 0.03em;
  color: #222;
}
.content{
  width: 94%;
  margin-top: 35px;
  color: gray;
  letter-spacing: 0.01em;
  font-weight: 500;
  font-size: 16px;
}
.btn{
  margin-top: 80px;
}
.btn a{
  background: #fff;
  font-size: 16px;
  color: #ff0073;
  border-radius: 25px;
  padding: 15px 35px;
  padding-left: 45px;
  letter-spacing: 0.1em;
  box-shadow: 2px 1px 7px #000;
}
.btn a i{
  padding-left: 25px;
}




.main-r{
  position: absolute;
  top: 150px;
  left: 500px;
}
.r-t{
  margin-left: 100px;
  margin-top: 30px;
}
.r-t img{
  transform: scaleX(-1);
  width: 300px;
  height: 300px;
}
.r-btn{
  margin-left: 450px;
  margin-top: -150px;
}
.r-btn i{
  color: #747474;
  font-size: 30px;
}
.r-b{
  margin-top: 200px;
  margin-left: 20px;
}
.r-b ul{
  list-style: none;
}
.pink{
  width: 75px;
  height: 75px;
  margin-right: 70px;
  transform: scaleX(-1);
}
.blue{
  width: 50px;
  height: 50px;
  transform: scaleX(-1);
  margin-top: 15px;
  margin-right: 20px;
}
.yellow{
  width: 50px;
  height: 50px;
  transform: scaleX(-1);
  margin-top: 15px;
}
.r-b hr{
  margin-top: -40px;
  margin-bottom: 5px;
  border-top: 6px dotted #fff;
  width: 70%;
}
.dot1{
  width: 19px;
  height: 19px;
  background: #ff0073;
  border: 5px solid #fff;
  border-radius: 50%;
  margin-left: 80px;
  margin-top: -33px;
  cursor: pointer;
}
.dot2{
  width: 13px;
  height: 13px;
  background: #57C7E4;
  border: 4px solid #fff;
  border-radius: 50%;
  margin-left: 260px;
  margin-top: -25px;
  cursor: pointer;
}
.dot3{
  width: 13px;
  height: 13px;
  background: #ECDC47;
  border: 4px solid #fff;
  border-radius: 50%;
  margin-left: 380px;
  margin-top: -22px;
  cursor: pointer;
}
.r-b ul li:hover{
  border-bottom: 0;
}



.circle1{
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(50% 50% at 69.48% 64%, #FED0E5 0%, #FFF6FB 100%);
}
.circle2{
  position: absolute;
  top: 150px;
  left: -100px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  z-index: 1;
  background: radial-gradient(50% 50% at 69.48% 64%, #FED0E5 0%, #FFF6FB 100%);
}
.circle3{
  position: absolute;
  top: 40px;
  left: 350px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: radial-gradient(50% 50% at 69.48% 64%, #FED0E5 0%, #FFF6FB 100%);
}
.circle4{
  position: absolute;
  top: 45px;
  left: 850px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: radial-gradient(50% 50% at 69.48% 64%, #FED0E5 0%, #FFF6FB 100%);
}
.circle5{
  position: absolute;
  top: -15px;
  right: -10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: radial-gradient(50% 50% at 69.48% 64%, #FED0E5 0%, #FFF6FB 100%);
}
.circle6{
  position: absolute;
  top: 125px;
  left: 720px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(50% 50% at 69.48% 64%, #FED0E5 0%, #FFF6FB 100%);
}
.circle7{
  position: absolute;
  top: 150px;
  left: 625px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: radial-gradient(50% 50% at 69.48% 64%, #FED0E5 0%, #FFF6FB 100%);
}
.circle8{
  position: absolute;
  top: 450px;
  left: 400px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: radial-gradient(50% 50% at 69.48% 64%, #FED0E5 0%, #FFF6FB 100%);
}
.circle9{
  position: absolute;
  top: 570px;
  left: 70px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: radial-gradient(50% 50% at 69.48% 64%, #FED0E5 0%, #FFF6FB 100%);
}
